body {
  height:100vh;
  background-color: aqua;
  display:flex;
  align-items: center;
  justify-content: center;
}

.wrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightpink; */
}

.container{
  /* background-color:lightgoldenrodyellow; */
  width:300px;
  height:400px;
  text-align: center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}